---
// Theme Switcher
// ------------
// Description: the theme switcher component is a ui element that allows users to switch between light and dark mode.

// Components
// - UI
import { Icon } from 'astro-icon/components'
import Decorations from './Decor.astro'
---

<div id="theme-selector">
	<Icon name="moon" class="hidden size-6 dark:block" />
	<Icon name="sun" class="block size-6 dark:hidden" />
	<Decorations type="bottom-left" size="sm" />
</div>

<style>
	@reference '../../styles/global.css';
	#theme-selector {
		@apply hidden;
	}
</style>
